@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #7d56f3;
}
.container{
    width: min(25%,28.12em);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;   
}
.container .input-box{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.input-box h1{
    text-align: center;
}
.input-box input{
    background-color: #eeeeff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #080808;
    width: 200px;
}
.input-box button{
    outline: none;
    border: none;
    background-color: #7d56f3;
    color: #fff;
    padding: 7px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.output-box{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
 
}
.output-box div{
    height: 90px;
    width: 90px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.output-box div span{
    font-size: 25px;
    font-weight: 500;
}
.output-box div p{
    color: #707070;
}
